@import '@fontsource-variable/jetbrains-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scrollbar-track-gray-800 scrollbar-thumb-gray-700 scrollbar-thin;
  }

  body {
    @apply min-h-screen bg-gray-800 text-gray-300 font-mono text-[13px] max-w-md mx-auto px-4;
  }
}
